.createPage
  .createPage__comp
    .createPage__comp__box
      = link_to root_path do
        Create!!
        %br
        Go to Top
  .createPage__next
    .createPage__next__box
      = link_to new_question_path do
        Create!!
        %br
        Next Question!!