= render 'homes/header'

.scorePage
  .scorePage__title
    Score
  .scorePage__result
    .scorePage__result__score
    .scorePage__result__graph
  .scorePage__btn
    .scorePage__btn__top
      = link_to root_path do
        TOP
= render 'homes/footer'