= render 'homes/header'

.testPage
  .testPage__start
    .testPage__start__container
      .testPage__start__container__title
        Challenge MODE
      .testPage__start__container__ex
        〜ランダム10問モード〜
      .testPage__start__btnbox
        .testPage__start__btnbox__btn
          = link_to play_challenges_path do
            START

= render 'homes/footer'