= render 'homes/header'

.testPage_start
  .testPage_start__container
    .testPage_start__container__title
    .testPage_start__container__ex
    .testPage_start__btnbox
      .testPage_start__btnbox__btn

= render 'homes/footer'