.profilePage {
  @include color_background;
  padding-top: 30px;
  &__title {
    @include index_title;
    padding: 10px;
    background-color: #777777;
    &__en {
      font-size: 25px
    }
    &__ja {
      font-size: 12px;
    }
  }
  &__formBox {
    padding: 30px;
    text-align: center;
    &__container {
      &__title {
        font-size: 20px;
        color: #777777;
      } 
      &__form {
        padding: 10px 0;
        line-height: 20px;
        input {
          padding: 10px 20px;
          border: none;
          border-radius: 5px;
        }
      }
      &__btn {
        padding-top: 30px;
        input {
          padding: 5px 30px;
          border: none;
          border-radius: 5px;
        }
        input:hover {
          color: white;
          background-color: #777777;
          font-weight: bold;
          transition: 0.5s;
        }
      }
    }
  }
}