.profilePage {
  @include color_background;
  padding-top: 30px;
  &__title {
    @include index_title;
    font-size: 25px;
    background-color: #777777;
  }
  &__formBox {
    padding: 30px;
    text-align: center;
    &__container {
      &__title {
      }
      &__form {

      }
      &__btn {

      }
    }
  }
}