.mypage {
  @include color_background;
  padding: 30px;
  &__topBox {
    &__title {
      text-align: center;
      font-size: 40px;
      font-weight: bold;
    }
  }
  &__midleBox {
    padding: 30px;
    font-size: 30px;
    &__container {
      display: flex;
      justify-content: center;
      &__question {
        padding: 30px;
      }
      &__rate {
        padding: 30px;
      }
    }
  }
  &__underBox {
    border-top: 2px solid #cccccc;
    &__container {
      display: flex;
      justify-content: space-around;
      font-size: 20px;
      &__questions {
        a {
          color: black;
          text-decoration: none;
        }
        padding: 30px;
        text-align: center;
        &__title {

        }
        &__img {
          font-size: 3.0em;
        }
      }
      &__profile {
        a {
          color: #777777;
          text-decoration: none;
        }
        padding: 30px;
        text-align: center;
        &__title {

        }
        &__img {
          font-size: 3.0em;
        }
      }
      &__password {
        a {
          color: white;
          text-decoration: none;
        }
        padding: 30px;
        text-align: center;
        &__title {

        }
        &__img {
          font-size: 3.0em;
        }
      }
    }
  }

}