= render 'homes/header'

.mypage
  .mypage__topBox
    .mypage__topBox__title
      #{@user.nickname}さんのマイページ
  .mypage__midleBox
    .mypage__midleBox__container
      .mypage__midleBox__container__question
        問題数：#{current_user.questions.count}
      .mypage__midleBox__container__rate
        いいね：
  .mypage__underBox
    .mypage__underBox__container
      .mypage__underBox__container__profile
        プロフィール

= render 'homes/footer'