= render 'header'

.faqPage
  .faqPage__top
    .faqPage__top__title
      FAQ
  .faqPage__messageBox
    .faqPage__messageBox__message
      質問の多い内容をまとめています
  .faqPage__faqBox
    .faqPage__faqBox__question
      .faqPage__faqBox__question__title
        Q.
      .faqPage__faqBox__question__message
    .faqPage__faqBox__answer
      .faqPage__faqBox__answer__title
        A.
      .faqPage__faqBox__answer__message

= render 'footer'