@import url('https://fonts.googleapis.com/css?family=Londrina+Shadow');

.topPage {
  padding: 50px;
  font-family: 'Londrina Shadow', cursive;
  @include color_background;
  &__top {
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
    border-bottom: 1px solid #eeeeee;
    &__mainLeft {
      padding-left: 50px;
      letter-spacing: 3px;
      &__message {
        font-size: 80px;
        line-height: 160px;
        &__up {
        }
        &__down {
        }
      }
      &__btnBox {
        display: flex;
        &__user {
          margin-right: 30px;
          &__btn {
            @include login_btn;
          }
        }
        &__login {
          &__btn {
            @include login_btn;
          }
        }
      }
    }
    &__mainRight {
      padding-left: 50px;
      &__topImgLogin {
        &__img {
        }
      }
      &__topImg {
        filter: grayscale(100%);
        &__img {
        }
      }
    }
  }
  &__down {
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    letter-spacing: 3px;
    &__left {
      filter: grayscale(100%);
      transition: 0.5s;
      a {
        text-decoration: none;
        color: #FF6347;;
      }
      &__img {

      }
      &__message {
        @include top_message
      }
      &__btn {
        @include topdown_btn;
      }
    }
    &__left:hover {
      filter: grayscale(0);
    }
    &__center {
      filter: grayscale(100%);
      transition: 0.5s;
      a {
        text-decoration: none;
        color: #1E90FF;
      }
      &__img {

      }
      &__message {
        @include top_message
      }
      &__btn {
        @include topdown_btn;
      }
    }
    &__center:hover {
      filter: grayscale(0);
    }
    &__right {
      filter: grayscale(100%);
      transition: 0.5s;
      a {
        text-decoration: none;
        color: #9932CC;
      }
      &__img {

      }
      &__message {
        @include top_message
      }
      &__btn {
        @include topdown_btn;
      }
    }
    &__right:hover {
      filter: grayscale(0);
    }
  }
}