.whatpage {
  @include color_background;
  padding: 50px;
  text-align: center;
  &__mainBox {
    padding: 50px;
    border-bottom: 1px solid #dddddd;
    &__title {
      padding: 20px;
      font-family: 'Londrina Shadow', cursive;
      font-size: 60px;
      letter-spacing: 3px;
    }
    &__ex {
      font-size: 20px;
      color: #888888;
    }
  }
  &__subBox {
    padding: 50px;
    &__title {
      padding: 20px;
      &__en {
        font-family: 'Londrina Shadow', cursive;
        font-size: 40px;
        letter-spacing: 3px;
      }
      &__ja {
        font-size: 15px;
      }
    }
    &__createImg {

    }
    &__sloveImg {

    }
    &__editImg {

    }
    &__ex {
      padding: 20px;
      font-size: 14px;
      color: #888888;
    }
  }
}