.commentPage {
  @include color_background;
  padding-top: 30px;
  &__title {
    @include index_title;
    font-size: 20px;
    background-color: #00BFFF;
  }
  &__form {
    padding: 30px;
    text-align: center;
    &__textarea {
      padding: 10px 0;
      textarea {
        width: 50%;
        height: 200px;
        border: none;
        border-radius: 10px;
      }
    }
    &__sendBtn {
      padding: 10px 0;
      input {
        width: 50%;
        padding: 10px;
        border: none;
        border-radius: 10px;
        font-size: 20px;
        color: #00BFFF;
      }
      input:hover {
        background-color: #00BFFF;
        color: white;
        font-weight: bold;
        transition: 0.5s;
      }
    }
  }
  &__messages {
    padding: 30px;
    &__title {
      padding: 20px;
      display: flex;
      justify-content: center;
      line-height: 20px;
      color: white;
      &__en {
        font-size: 20px;
      }
      &__ja {
        font-size: 15px;
      }
    }
    &__box {
      display: flex;
      justify-content: center;
      &__name {
      }
      &__comment {
      }
    }
  }
}