.commentPage {
  @include color_background;
  padding-top: 30px;
  &__title {
    @include index_title;
    font-size: 20px;
    background-color: #00BFFF;
  }
  &__form {
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    &__textarea {
      padding: 10px 0;
      textarea {
        width: 700px;
        height: 200px;
        border: none;
        border-radius: 10px;
      }
    }
    &__sendBtn {
      padding: 10px 0;
      input {
        width: 700px;
        padding: 10px;
        border: none;
        border-radius: 10px;
        font-size: 20px;
        color: #00BFFF;
      }
      input:hover {
        background-color: #00BFFF;
        color: white;
        font-weight: bold;
        transition: 0.5s;
      }
    }
  }
  &__messages {
    padding: 30px 30px 60px 30px;
    &__title {
      padding: 20px;
      display: flex;
      justify-content: center;
      line-height: 20px;
      color: white;
      &__en {
        font-size: 20px;
      }
      &__ja {
        font-size: 15px;
      }
    }
    &__container {
      width: 700px;
      height: 250px;
      margin: 0 auto;
      border-radius: 10px;
      background-color: #dddddd;
      overflow: auto;
      &__box {
        display: flex;
        padding: 10px 20px;
        &__name {
          a {
            color: #00BFFF;
          }
        }
        &__comment {
        }
        &__date {
          font-size: 12px;
          line-height: 24px;
          margin-left: auto;
        }
      }
    }
  }
}