.createPage__createTitle {
  margin: 0 auto;
  border-top: 1px solid #FF8C00;
  border-bottom: 1px solid #FF8C00;
  background-color: #aaaaaa;
  font-size: 20px;
  color: #FF8C00;
  text-align: center;
}
.createPage__comp {
  padding: 50px 100px 0 100px;
  &__box {
    text-align: center;
    a {
      padding: 20px;
      border-radius: 20px;
      background-color: #777777;
      display: block;
      color: white;
      text-decoration: none;
    }
    a:hover {
      border-radius: 20px;
      font-weight: bold;
      opacity: 0.5;
    }
    &__en {
      font-size: 30px;
    }
    &__ja {
      font-size: 12px;
    }
  }
}
.createPage__next {
  padding: 50px 100px;
  &__box {
    text-align: center;
    font-size: 30px;
    a {
      padding: 20px;
      border-radius: 20px;
      background-color: #FF8C00;
      display: block;
      color: white;
      text-decoration: none;
    }
    a:hover {
      border-radius: 20px;
      font-weight: bold;
      opacity: 0.5;
    }
    &__en {
      font-size: 25px;
    }
    &__ja {
      font-size: 15px;
    }
  }
}