.createPage__comp {
  &__box {
    margin: 50px;
    text-align: center;
    font-size: 30px;
    a {
      padding: 20px;
      border-radius: 5px;
      background-color: #777777;
      display: block;
      color: white;
      text-decoration: none;
    }
    a:hover {
      border-radius: 20px;
      font-weight: bold;
      transition: 0.5s;
    }
  }
}
.createPage__next {
  &__box {
    margin: 50px;
    text-align: center;
    font-size: 30px;
    a {
      padding: 20px;
      border-radius: 5px;
      background-color: #FF8C00;
      display: block;
      color: white;
      text-decoration: none;
    }
    a:hover {
      border-radius: 20px;
      font-weight: bold;
      transition: 0.5s;
    }
  }
}