.editPage {
  &__question {
    padding: 0 50px;
    &__formBox {
      padding: 10px;
      font-size: 20px;
      &__formatForm {
        padding: 20px 20px 60px 20px;
        font-size: 30px;
        text-align: center;
        select {
          padding: 10px 20px;
          border-radius: 10px;
          @include color_edit_form;
        }
      }
      &__titleBox {
        display: flex;
        &__no {
          padding: 10px;
        }
        &__titleForm {
          padding: 10px;
          input {
            padding: 10px 20px;
            border-radius: 10px;
            @include color_edit_form;
          }
        }
      }
      &__sentenceForm {
        margin-bottom: 30px;
        padding: 10px;
        textarea {
          padding: 20px;
          width: calc(90% + 20px);
          border-radius: 10px;
          @include color_edit_form;
        }
      }
      &__up {
        display: flex;
        &__box {
          margin: 0 10px 0 5px;
          width: 45%;
          &__answerTitle {
            color: red;
          }
          &__formImg {
            &__answerForm {
              @include form_size;
              input {
                @include edit_select_form;
              }
            }
            &__answerImage {
              @include img_icon;
              text-align: right;
            }
            &__select {
            }
            &__form {
              @include form_size;
              input {
                @include edit_select_form;
              }
            }
            &__image {
              @include img_icon;
              text-align: right;
            }
          } 
        }
      }
      &__down {
        display: flex;
        &__box {
          margin: 0 10px 20px 5px;
          width: 45%;
          &__select {
          }
          &__formImg {
            &__form {
              @include form_size;
              input {
                @include edit_select_form;
              }
            }
            &__image {
              @include img_icon;
              text-align: right;
            }
          }
        }
      }
      &__explain {

      }
      &__explainForm {
        textarea {
          padding: 20px;
          width: calc(90% + 20px);
          border-radius: 10px;
          @include color_edit_form;
        }
      }
      &__genre {

      }
      &__genreForm {
        select {
          padding: 10px 20px;
          border-radius: 10px;
          @include color_edit_form;
        }
      }
      &__btn {
        margin: 0 auto;
        padding: 40px 0;
        width: 40%;
        input {
        padding: 20px;
        border: none;
        border-radius: 10px;
        width: calc(90% + 20px);
        text-align: center;
        color: #9932CC;
        }
        input:hover {
          background-color: #9932CC;
          color: white;
          font-weight: bold;
          transition: 0.5s;
        }
      }
    }
  }
}