.questionsIndex {
  @include color_background;
  padding-top: 30px;
  &__title{
    @include index_title;
    background-color: #00BFFF;
    &__en {
      font-size: 20px;
    }
    &__ja {
      font-size: 15px;
    }
  }
  &__container {
    @include index_container;
    &__box {
      @include index_box;
      position: relative;
      a {
        text-decoration: none;
      }
      &__title {
        position: absolute;
        top: -25px;
        left: -25px;
        @include title_no;
      }
      &__questionBox {
        @include index_questionBox;
        background-color: #aaaaaa;
        box-shadow: 2px 2px 0 white;
        color: white;
        &__name {
        }
        &__sentence {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        &__icon {
          display: flex;
          justify-content: flex-end;
          &__good {
            margin: 5px;
          }
          &__comment {
            margin: 5px;
          }
        }
      }
      &__questionBox:hover {
        font-weight: bold;
        background-color: #00BFFF;
        box-shadow: 3px 5px 0 #1E90FF;
        border-radius: 5px;
        color: white;
        transition: 0.3s;
      }
    }
  }
}