.questionsIndex {
  @include color_background;
  padding-top: 30px;
  &__title{
    @include index_title;
    background-color: #00BFFF;
    &__en {
      font-size: 30px;
    }
    &__ja {
      font-size: 12px;
    }
  }
  &__container {
    @include index_container;
    &__box {
      @include index_box;
      position: relative;
      a {
        text-decoration: none;
      }
      &__title {
        position: absolute;
        top: -25px;
        left: -25px;
        @include title_no;
      }
      &__questionBox {
        @include index_questionBox;
        background-color: #aaaaaa;
        box-shadow: 2px 2px 0 white;
        color: white;
        &__sentence {
          height: 50px;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          word-wrap: break-word;
          overflow: hidden;
        }
        &__username {
          font-size: 12px;
          color: white;
          // padding-top: 20px;
          align-items: flex-end;
        }
        &__icon {
          display: flex;
          justify-content: flex-end;
          font-size: 2.0rem;
          &__good {
            margin: 5px;
            i {
              color: #FF367F;
            }
            &__count {
              text-align: center;
              color: #1E90FF;
              font-size: 12px; 
            }
          }
          &__nogood {
            margin: 5px;
            &__count {
              text-align: center;
              color: #1E90FF;
              font-size: 12px; 
            }
          }
          &__comment {
            margin: 5px;
            &__count {
              text-align: center;
              color: #1E90FF;
              font-size: 12px; 
            }
          }
        }
      }
      &__questionBox:hover {
        font-weight: bold;
        background-color: #00BFFF;
        box-shadow: 3px 5px 0 #1E90FF;
        border-radius: 5px;
        transition: 0.3s;
        a:hover {
          transition: 0.3s;
          color: white;
        }
      }
    }
  }
}