.questionsIndexEdit {
  @include color_background;
  padding-top: 30px;
  &__title{
    @include index_title;
    background-color: #9932CC;
    &__en {
      font-size: 20px;
    }
    &__ja {
      font-size: 15px;
    }
  }
  &__container {
    @include index_container;
    &__box {
      @include index_box;
      position: relative;
      a {
        text-decoration: none;
      }
      &__title {
        position: absolute;
        top: -25px;
        left: -25px;
        @include title_no;
      }
      &__questionBox {
        @include index_questionBox;
        display: flex;
        justify-content: space-between;
        background-color: #aaaaaa;
        box-shadow: 2px 2px 0 white;
        color: white;
        &__sentence {
          padding-right: 5px;
          height: 50px;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          word-wrap: break-word;
          overflow: hidden;
        }
        &__btn {
          display: flex;
          &__edit {
            font-size: 1.5rem;
            a {
              color: white;
            }
          }
          &__delete {
            padding-left: 10px;
            font-size: 1.5rem;
            a {
              color: white;
            }
          }
        }
      }
      &__questionBox:hover {
        background-color: #9370DB;
        box-shadow: 3px 5px 2px #9932CC;
        border-radius: 5px;
        color: white;
        transition: 0.3s;
      }
    }
  }
}