.questionsIndexEdit {
  @include color_background;
  padding: 40px;
  &__title{
    @include index_title;
    color: #9932CC;
    text-shadow: 1px 2px 0 white;
  }
  &__container {
    @include index_container;
    &__box {
      @include index_box;
      a {
        text-decoration: none;
      }
      &__title {
        padding-left: 5px;
        color: white;
      }
      &__questionBox {
        @include index_questionBox;
        background-color: white;
        box-shadow: 2px 2px 2px #9932CC;
        color: #9370DB;
        &__name {
        }
        &__sentence {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      &__questionBox:hover {
        font-weight: bold;
        background-color: #9370DB;
        box-shadow: 3px 5px 2px #9932CC;
        border-radius: 5px;
        color: white;
        transition: 0.3s;
      }
    }
  }
}