.questionsIndex {
  @include color_background;
  padding: 40px;
  &__title{
    font-size: 30px;
    font-weight: bold;
    color: #00BFFF;
    text-shadow: 1px 2px 0 white;
  }
  &__container {
    display: flex;
    flex-wrap: wrap;
    &__box {
      margin: 10px 20px 10px 0;
      width: 30%;
      a {
        text-decoration: none;
      }
      &__title {
        padding-left: 5px;
        color: white;
      }
      &__questionBox {
        padding: 5px;
        background-color: white;
        box-shadow: 2px 2px 2px #1E90FF;
        border-radius: 5px;
        color: #00BFFF;
        &__name {
        }
        &__sentence {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      &__questionBox:hover {
        font-weight: bold;
        background-color: #00BFFF;
        box-shadow: 3px 5px 2px #1E90FF;
        border-radius: 5px;
        color: white;
        transition: 0.3s;
      }
    }
  }
}