.createPage {
  @include color_background;
  padding-top: 30px;
  &__title {
    margin: 0 auto;
    background-color: #FF8C00;
    color: white;
    text-align: center;
    &__en {
      font-size: 20px;
    }
    &__ja {
      font-size: 15px;
    }
  }
  &__question {
    padding: 50px;
    font-size: 15px;
    line-height: 40px;
    &__formBox {
      margin:  0 auto;
      padding: 20px 0;
      width: 400px;
      input, textarea, select {
        width: 100%;
        border: none;
        border-radius: 5px;
      }
      input:focus, textarea:focus, select:focus {
        outline: 2px solid #FF8C00;
      }
      &__title {
      }
      &__form {
        
      }
      &__sentence {
      }
      &__form {
        textarea {
          height: 10rem;
        }
      }
      &__format {
      }
      &__form {
        select {
          height: 40px;
        }
      }
      &__btn {
        @include new_question_btn;
      }
      &__btn:hover {
        @include new_question_btn_hover;
      }
    }
  }
}