.loginPage {
  @include color_background;
  padding: 100px;
  &__main {
    width: 700px;
    margin: 0 auto;
    padding-top: 20px;
    @include border_frame;
    background-color: #EEEEEE;
    text-align: center;
    &__box {
      display: flex;
      justify-content: center;
      &__formbox {
        padding: 20px;
        &__title {
          @include title_form;
        }
        &__form {
          @include form_size;
        }
      }
    }
    &__login {
      padding: 10px;
      &__btn {
        input {
          width: 80px;
          height: 40px;
          margin: 20px auto;
          border-radius: 5px;
          font-size: 14px;
          background-color: white;
        }
        input:hover {
          background-color: #c0c0c0;
        }
      }
    }
  }
}