= render 'homes/header'

.contactPageThanks
  .contactPageThanks__icon
    = icon('far', 'paper-plane')
  .contactPageThanks__title
    .contactPageThanks__title__en
      Thanks!!
    .contactPageThanks__title__ja
      〜お問い合わせありがとうございました！！〜
  .contactPageThanks__topbtn
    = link_to root_path do
      TOP

= render 'homes/footer'