.rates
  - if !Rate.exists?(user_id: current_user.id, question_id: @question.id)
    .rates__nogood
      = link_to question_add_path(@question), method: "post" do
        = icon('far', 'heart')
  - else
    .rates__good
      = link_to question_add_path(@question), method: "delete" do
        = icon('fas', 'heart')