@mixin title_form {
  padding-top: 10px;
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
}

@mixin form_size {
  input {
    width: 210px;
    height: 40px;
  }
}

@mixin create_form {
  display: flex;
  line-height: 40px;
}

@mixin img_icon {
  margin-left: 10px;
  font-size: 3em;
}

@mixin edit_select_form {
  padding: 10px;
  border: none;
  width: 100%;
  height: 60px;
  border-radius: 10px;
}