input[type='checkbox'] 
    { 
    // display: none; 
    } 

    
.playPage {
  @include color_background;
  padding: 50px;
  &__test {
    &__container {
      &__titleBox {
        padding-left: 40px;
        display: flex;
        font-size: 30px;
        &__no {
          padding: 20px;
        }
        &__title {
          padding: 20px;
        }
      }
      &__sloveBox {
        padding: 10px;
        &__sentence {
          margin: 0 auto;
          margin-bottom: 30px;
          padding: 20px;
          border-radius: 10px;
          width: calc(90% + 20px);
          background-color: white;
          opacity: 0.7;
          font-weight: bold;
        }
        &__selectsBox {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          text-align: center;
          &__select1, &__select2, &__select3, &__select4 {
            box-sizing: border-box;
            margin: 0 10px 20px 10px ;
            border-radius: 10px;
            width: 45%;
            line-height: 80px;
            background-color: white;
            cursor: pointer;
          }
          &__select1:hover, &__select2:hover, &__select3:hover, &__select4:hover, {
            background-color: #808080;
            font-weight: bold;
          }
        }
      }
      &__btnBox {
        margin: 30px;
        font-size: 30px;
        font-family: 'Londrina Shadow', cursive;
        &__btn {
          margin: 0 auto;
          border-radius: 40px;
          width: 400px;
          background-color: #aaaaaa;
          text-align: center;
          a {
            padding: 20px;
            color: white;
            text-decoration: none;
            display: block;
          }
          a:hover {
            color: #777777;
            background-color: #eeeeee;
            border-radius: 40px;
            opacity: 0.7;
            font-weight: bold;
          }
        }
      }
    }
  }
  &__finish {
    margin: 30px;
    font-size: 30px;
    font-family: 'Londrina Shadow', cursive;
    &__btn {
      margin: 0 auto;
      border-radius: 40px;
      width: 400px;
      background-color: #aaaaaa;
      text-align: center;
      a {
        padding: 20px;
        color: white;
        text-decoration: none;
        display: block;
      }
      a:hover {
        color: #777777;
        background-color: #eeeeee;
        border-radius: 40px;
        opacity: 0.7;
        font-weight: bold;
      }
    }
  }
}
